/* -------------------------------------------------------------------------- */
/*                                Global Rules                                */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.clr {
  clear: both;
}

h2.triple-underline {
  width: fit-content;
  margin: 50px auto;
  color: rgb(51, 51, 51);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  position: relative;
}

h2.triple-underline::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);

  height: 1px;
  width: 160px;
  background: rgb(255, 48, 91);
}

h2.triple-underline::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);

  height: 9px;
  width: 70px;
  background: transparent;
  border-top: rgb(255, 48, 91) 1px solid;
  border-bottom: rgb(255, 48, 91) 1px solid;
}

/* -------------------------------------------------------------------------- */
/*                           1- Main Header Rules                           */
/* -------------------------------------------------------------------------- */
.section-main-header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero\ img.jpg);
  background-size: cover;
  background-position: center center;
  overflow: auto;
}

.section-main-header .header {
  font-family: "Roboto", sans-serif;
  margin: 20px auto;
  width: 420px;
}

.section-main-header .header h1 a {
  float: left;
  text-decoration: none;

  color: rgb(255, 48, 91);
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
}

ul.no-button {
  visibility: hidden;
}

.section-main-header .header i {
  float: right;
  margin: 3px 5px;

  color: white;
  font-size: 23px;
  overflow: visible;
}
.section-main-header .header i:hover ul {
  height: 336px;
}

i ul {
  background-color: rgb(51, 51, 51);
  text-align: center;
  list-style: none;
  margin: 12px auto;

  width: 85%;
  height: 0px;
  overflow: hidden;

  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  z-index: 5;

  transition: 400ms ease-in-out;
}

i ul li {
  font-family: "Roboto", sans-serif;
  padding: 12px 0;
}

i ul li a {
  text-decoration: none;

  color: white;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  transition: 400ms ease-in-out;
}
i ul li a:hover {
  color: rgb(255, 48, 91);
}

#home-tab {
  color: rgb(255, 48, 91);
}

.section-main-header .main-body {
  text-align: center;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-main-header .main-body {
  font-family: "Source Sans 3", sans-serif;
}

.section-main-header .main-body h1 {
  color: rgb(255, 48, 91);
  font-weight: 600;
  font-size: 38px;
  line-height: 42px;

  margin: 10px 0;
}

.section-main-header .main-body span {
  color: white;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
}

.section-main-header .main-body span.second {
  font-size: 18px;
  line-height: 22px;
}

/* -------------------------------------------------------------------------- */
/*                           2- Introduction Rules                          */
/* -------------------------------------------------------------------------- */
.section-introduction {
  padding: 60px 0 30px 0;
}

.section-introduction .container {
  width: 420px;
  margin: auto;
}

.section-introduction .container .left .img {
  border-radius: 5px;
  position: relative;
}

.left .img img {
  width: 100%;
}

.section-introduction .container .left .img .outer-layer {
  width: 100%;
  height: 519px;
  overflow: hidden;
  position: absolute;
  border-radius: 5px;
  top: 0px;
  left: 0px;
}

.outer-layer .layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);

  transform: scaleY(0);
  transform-origin: bottom;

  transition: 500ms ease-in-out;
  padding: 50% 0;
}

.outer-layer:hover .layer {
  background-color: rgba(0, 0, 0, 0.521);
  transform: scaleY(1);
}

.outer-layer .layer table {
  position: relative;
  top: 40px;
  left: -5px;
  margin: auto;
}

.outer-layer .layer td {
  width: fit-content;
  padding: 0 5px;
}

.outer-layer .layer td i {
  color: white;
  font-size: 20px;

  transition: 600ms ease-in-out;
}
.outer-layer .layer td i:hover {
  color: rgb(255, 48, 91);
}

.section-introduction .container .right {
  padding: 30px 0;
}

.section-introduction .container .right span.hello {
  font-family: "Source Sans 3", sans-serif;

  color: rgb(51, 51, 51);
  font-weight: 600;
  font-size: 34px;
  line-height: 22px;

  position: relative;
  padding-left: 12px;
}
.section-introduction .container .right span.hello::before {
  content: "";
  width: 4px;
  height: 22px;
  background-color: rgb(255, 48, 91);
  position: absolute;
  left: 0px;
  top: 25%;
}

.section-introduction .container .right p {
  color: rgb(85, 85, 85);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  padding: 20px 0;
  border-bottom: dashed black 1px;
}

.section-introduction .container .right ul {
  width: 80%;
  list-style-type: none;
  padding: 10px 0 20px 0;
}

.section-introduction .container .right ul li {
  padding: 10px 0;

  color: rgb(85, 85, 85);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.section-introduction .container .right ul li span {
  color: rgb(51, 51, 51);
  font-weight: 500;
}

.section-introduction .container .right a {
  width: fit-content;
  padding: 11px 8px;
  margin-right: 15px;

  color: white;
  background-color: rgb(255, 48, 91);
  border: transparent;
  border-radius: 4px;
  transition: 400ms ease-in-out;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
}
.section-introduction .container .right a i {
  margin-left: 5px;
}
.section-introduction .container .right a:hover {
  background-color: rgb(236, 36, 3);
}

/* -------------------------------------------------------------------------- */
/*                           3- Our Services Rules                          */
/* -------------------------------------------------------------------------- */
.section-our-services {
  background-color: rgb(241, 241, 241);
  padding: 20px 0;
}

.section-our-services .container {
  width: 420px;
  margin: auto;
}

.section-our-services .container .mini-service {
  text-align: center;
  padding: 50px 0;
  position: relative;

  transition: ease-in-out 350ms;
}
.section-our-services .container .mini-service:hover {
  background-color: #fff;
}
.section-our-services .container .mini-service:hover i {
  transform: scale(1.2);
}

.section-our-services .container .mini-service i {
  color: rgb(255, 48, 91);
  font-size: 37px;
  transition: ease-in-out 350ms;
  display: inline-block;
}

.section-our-services .container .mini-service h3 {
  color: rgb(51, 51, 51);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;

  margin: 20px 0;
  transition: ease-in-out 350ms;
}

.section-our-services .container .mini-service p {
  color: rgb(85, 85, 85);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  width: 90%;
  margin: auto;
}

/* -------------------------------------------------------------------------- */
/*                          4- Our Portfolio Rules                          */
/* -------------------------------------------------------------------------- */
.section-our-portfolio {
  text-align: center;
  padding: 50px 0 30px 0;
}

table.gallery-types {
  margin: 60px auto 40px auto;
}

table.gallery-types td {
  width: fit-content;
  padding: 0 15px;

  color: rgb(51, 51, 51);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  letter-spacing: 1px;
}

table.gallery-types td.pinky {
  color: rgb(255, 48, 91);
}

div.gallery-photos {
  width: 420px;
  margin: auto;
}

div.gallery-photos .img {
  margin: 30px 0;

  position: relative;
}

div.gallery-photos .img .layer {
  width: 100%;
  height: 315px;

  transition: 400ms ease-in-out;

  position: absolute;
  top: 0;
}
div.gallery-photos .img .layer:hover {
  background-color: rgba(0, 0, 0, 0.521);
}

div.gallery-photos .img .layer i {
  font-size: 20px;
  color: rgb(255, 48, 91, 0);
  transition: 400ms ease-in-out;

  position: absolute;
  bottom: 20px;
  right: 20px;
}
div.gallery-photos .img .layer:hover i {
  color: rgb(255, 48, 91);
}

/* div.gallery-photos .img.no-margin {
  margin-right: 0;
} */

div.gallery-photos .img img {
  width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                          5- Major Counter Rules                          */
/* -------------------------------------------------------------------------- */
.section-major-counter {
  background-color: #f1f1f1;
  padding: 60px 0;
}

.section-major-counter .container {
  width: 88%;
  margin: auto;
}

.section-major-counter .mini-counter {
  text-align: center;
  margin: 20px 0;
}

.mini-counter i {
  margin-bottom: 10px;
  font-size: 26px;
  color: rgb(255, 48, 91);
}

.mini-counter span {
  display: block;
  padding: 5px 0;

  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: rgb(85, 85, 85);
}

.mini-counter span.number {
  font-weight: 800;
  font-size: 26px;
  line-height: 29px;
  color: rgb(51, 51, 51);
}

/* -------------------------------------------------------------------------- */
/*                         6- Client Feedback Rules                         */
/* -------------------------------------------------------------------------- */
.section-client-feedback {
  padding: 50px 0 80px 0;
}

.section-client-feedback .container {
  width: 380px;
  margin: auto;
  padding: 30px;
  background-color: #f1f1f1;
  border-radius: 5px;

  position: relative;
  overflow: hidden;
}

.section-client-feedback .container::before {
  content: "";
  width: 200px;
  height: 400px;
  background-color: rgb(255, 48, 91);

  position: absolute;
  top: -180px;
  left: -100px;

  transform: rotate(45deg);
}

.section-client-feedback .left {
  margin: 0 0 20px 0;
  position: relative;
  z-index: 3;
}

.section-client-feedback .right {
  z-index: 3;
}

.section-client-feedback .left .img {
  width: 100px;
  margin: auto;
}
.section-client-feedback .left .img img {
  border-radius: 500px;
  width: 100%;
}

.section-client-feedback .right span {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;

  color: rgb(119, 119, 119);
  font-size: 15px;
  line-height: 17px;
}

.section-client-feedback .right span.Alexander {
  padding: 0;
  color: rgb(51, 51, 51);
  font-size: 26px;
  line-height: 29px;
}

.section-client-feedback .right .location {
  padding: 15px 0;
}

.section-client-feedback .right i {
  color: rgb(119, 119, 119);
  font-size: 15px;
}

.section-client-feedback .right p {
  color: rgb(85, 85, 85);
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  padding-bottom: 20px;
}

.right .rating i {
  color: rgb(241, 195, 13);
  font-size: 16px;
}

/* -------------------------------------------------------------------------- */
/*                             7- Our Blog Rules                            */
/* -------------------------------------------------------------------------- */
.section-our-blog {
  background-color: rgb(241, 241, 241);
  padding: 30px 0 60px 0;
}

.section-our-blog .container {
  width: 420px;
  margin: 0 auto;
}

.section-our-blog .container .blog {
  margin: 30px 0;
  background-color: white;
}

.section-our-blog .container .blog.no-margin {
  margin: 0;
}

.blog .img img {
  width: 100%;
}

.blog .img iframe {
  width: 100%;
  height: 231px;
}

.blog .text {
  padding: 20px;
}

.blog .text span,
p {
  font-family: "Roboto", sans-serif;
  color: rgb(85, 85, 85);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  padding-bottom: 10px;
}

.blog .text a {
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: black;

  transition: 400ms ease-in-out;
}

.blog .text h3 {
  padding: 12px 0;
}
.blog .text a:hover {
  color: rgb(255, 48, 91);
}

a.read-more span,
a.read-more span i {
  color: rgb(85, 85, 85);
  transition: 400ms ease-in-out;
}
a.read-more:hover span,
a.read-more:hover span i {
  color: rgb(255, 48, 91);
}

/* -------------------------------------------------------------------------- */
/*                            8- Contact Us Rules                           */
/* -------------------------------------------------------------------------- */
.section-contact-us .container {
  width: 420px;
  margin: 60px auto;
}

.section-contact-us .container input,
.last {
  margin: 12px 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  color: rgba(0, 0, 0, 0.826);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  border-radius: 5px;
  border: rgba(0, 0, 0, 0.226) solid 1px;

  transition: 400ms ease-in-out;
}
.section-contact-us .container input::placeholder,
.last::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.476);
}

.section-contact-us .container input:focus,
.last:focus {
  outline: none;
  border-color: rgb(255, 48, 91);
}

.section-contact-us .container textarea.last {
  width: 100%;
  resize: both;
  padding: 10px 0 50px 10px;
}

.section-contact-us .container button {
  color: white;
  background-color: rgb(255, 48, 91);
  border: none;
  border-radius: 5px;
  padding: 2px 20px;
  margin-top: 10px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;

  transition: background-color 300ms ease-in-out, transform 25ms ease-in-out;
}
.section-contact-us .container button:hover {
  background-color: rgb(236, 36, 3);
}
.section-contact-us .container button:focus {
  transform: scale(0.95);
}

/* -------------------------------------------------------------------------- */
/*                              9- Footer Rules                             */
/* -------------------------------------------------------------------------- */
.section-footer {
  text-align: center;
  background-color: rgb(51, 51, 51);
  padding: 40px 0;
}

.section-footer .container {
  margin: auto;
}

.section-footer table {
  margin: auto;
  padding-bottom: 10px;
}

.section-footer td {
  width: fit-content;
  padding: 0 8px;
}

.section-footer td i {
  color: white;
  font-size: 17px;

  transition: 300ms ease-in-out;
}
.section-footer td i:hover {
  color: rgb(255, 48, 91);
}

.section-footer .container span {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
}

.section-footer .container span a {
  color: rgb(255, 48, 91);
  text-decoration: none;
}
.section-footer .container span a:hover {
  text-decoration: underline;
}
